.Browsediv {
    padding-top: 20vh;
    width: 70%;
    margin: auto;
}

@media only screen and (max-aspect-ratio: 1/1) {
    .Browsediv {
        width: 100%;
    }
}

@media all and (max-width: 640px) {
    .Browsediv {
        padding-top: 32vh;
        width: 70%;
        margin: auto;
    }
}