.logdinDiv {
    padding-top: 30vh;
    width: 70%;
    margin: auto;
}

@media all and (max-width: 640px) {
    .logdinDiv {
        padding-top: 32vh;
        width: 70%;
        margin: auto;
    }
}