.ShowSingePostdiv {
    background-color: #80bdff;
    padding-top: 20vh;
    width: 70%;
    margin: auto;
}

@media all and (max-width: 640px) {
    .ShowSingePostdiv {
        padding-top: 32vh;
        width: 70%;
        margin: auto;
    }
}