<!DOCTYPE html>
<html>
<head>
    <title>
        Title
    </title>
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <meta charset="UTF-8" />
    <style media="screen"></style>

</head>

<body>
The content
<div id="root"></div>

<script type="text/babel">

class Juttu extends React.Component {

    constructor(props) {
        super(props)
        this.state = {}
    }

  componentDidMount() {
    var url = "http://localhost:8080/text";
    fetch(url).then(httpResponse => httpResponse.json()).then(this.puljaaVariables.bind(this));
  }

  puljaaVariables(object) {
        console.log(object);
        this.setState({"date": object.date});
        this.setState({"author": object.author});
        this.setState({"title": object.title});
         this.setState({"content": object.content});
   }

  render() {
    return <p>BMI :{this.state.date} <br></br>  {this.state.author} <br/> {this.state.title} <br/> {this.state.content}</p>
    }
}

ReactDOM.render(<Juttu/>,document.getElementById('root'));

</script>

</body>
</html>