

<!--
<!DOCTYPE html>
<html>
<head>
    <title>
        Title
    </title>
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <meta charset="UTF-8" />
    <style media="screen"></style>

</head>

<body>
The content
<div id="root"></div>

<script type="text/babel">

function httpRF(httpResponse) {
      console.log(httpResponse)
}

// function component
let tmp = fetch("http://localhost:8080/text").then(text => console.log(text));


function Link(properties) {
  return <a href={properties.link}>{properties.text}</a>;
}

ReactDOM.render(
  <Link link="http://www.uta.fi" text="utatemplates"/>,
  document.getElementById('root')
);

//

</script>

</body>
</html>
-->